html {
	font-size: 20px;
}
div.name-and-authority {
	transform: translate(0px, 10px);
}
div.links {
	transform: translateX(460px);
}
div.page-border {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 2px solid black;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
a {
	text-decoration: none;
	color: black;
}
a.links {
	font-size: 18px;
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}
.button {
	font-size: 100px;
}
li {
	font-size: 22px;
}
