@font-face {
	font-family: "regular";
	src: url(fonts/dejavu-regular.ttf);
	font-family: "italic";
	src: url(fonts/dejavu-italic.ttf);
	font-family: "bold";
	src: url(fonts/dejavu-bold.ttf);
}

html {
	font-size: 20px;
}

.bold {
	font-family: "bold";
}
.italic {
	font-family: "italic"
}
h1 {
	translate(500, 500);
}
div.page-border {
	font-family: "regular";
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 2px solid black;
	padding: 20px;
	width: 1000px;
}

a {
	text-decoration: none;
	color: black;
}
button {
	font-size: 20px;
}
li {
	font-size: 22px;
}
